@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/CommonStyles") 
        @Scripts.Render("~/Modernizr")
    </head>

    <body>
        <div class="content">
            @Html.Partial("_FlashMessages")
            @RenderBody()
            @Scripts.Render("~/CommonScripts")
        </div>
    </body>
</html>