@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/CommonStyles") 
        @Scripts.Render("~/Modernizr")
@*        <link href="@Styles.Render("~/CommonStyles")" rel="stylesheet" type="text/css" />*@
@*        <script src="@Scripts.Render("~/Modernizr")" type="text/javascript"> </script>*@
    </head>

    <body>
        <div class="content">
            @Html.Partial("_FlashMessages")
            @RenderBody()
            @Scripts.Render("~/CommonScripts")
@*            <script src="@Scripts.Render("~/CommonScripts")" type="text/javascript"></script>*@
        </div>
    </body>
</html>